h1,h2,h3,h4,h5 {
	font-family: 'exo_2light_condensed';
}

text {
	font-family: 'exo_2medium_condensed';
}


h1 {
	margin-top: 0;
	margin: 0;
	position: relative;
	top: -3px;
	font-size: 42px;
}

h3 {
	padding-bottom: 0;
	margin-top: .0em;
	margin-bottom: 0;
	position: relative;
	bottom: -1px;
}

.tooltip h4 {
	font-size: 20px;
	padding-bottom: 0;
}
div#title {
	padding: 0;
	position: absolute;
	left: 7em;
	top: 7em;
	color: white;
	padding-left: 1em;
	border-left-style: solid;
	border-width: 10px;
	border-color:#52dffc;
}

.hidden {
	display: none;
}

.netherland {
	fill:none;
	stroke:#316ec7;
	stroke-width:3px;
}

div.tooltip {
	color: #fff;
	font-size: 18px;
	font-family: 'exo_2light_condensed';
	background-color: rgba(0,0,0,.8);
	padding: 1em;
	border-left-style: solid;
	border-width: 20px;
	border-color:#52dffc;
	opacity: 0.8;
	position: absolute;
	max-width: 200px;
}
#locMap {
	width: 100%;
	max-height: 25%;
}

#barTitle {
	font-family: exo_2medium_condensed;
	font-size: 20px;
	color: #fff;
	padding-top: 1em;
}
#locBars{
	padding-top: 0em;
	width: 100%;
	margin: 0;
	max-height: 70%;
}
#sideBar {
	background-color: rgba(49,110,199, .3);
	height: 110%;
	width: 1%;
	padding-left: 2em;
	padding-right: 2em;
	position: absolute;
	right: 0px;
	top: 0px;
	opacity: 0;
}



.country {
 	stroke: #111342;
 	stroke-width: 0.3;
  	stroke-linejoin: round;
  	stroke-linecap: round;
  	vector-effect: non-scaling-stroke;
}

.Haarlem {
	text-anchor: end;
}

.stop {
	fill: #12141f;
	stroke: #51dafc;
	stroke-width: 2px;
	r:4px;

}

.Eindhoven {
	fill: #12141f;
	stroke: white;
	stroke-width: 0px;
	r: 4px;
	
}


.stop-label {
	fill: #ffffff;
	font-family: exo_2light_condensed;
	font-size: 16px;
	max-width: 8em;

}

text.Oost-Nieuw-west {
}

.performanceBar {
	fill: rgba(39,88,191, .6);
	stroke: #2758bf;
	stroke-width: 1px;

}

.EindhovenBar {

	fill:rgba(82,223,252, .8);
	stroke: white;
	/*stroke: rgb(39,88,191);*/
	stroke-width: 0px;

}

.city-label {
	fill: #ffffff;
	display: none;
}

.city {
	display: none;
}


.locBars{
	padding-top: 5em;
	height: 100%;
}


h2{
	color: #fff;
}


h4 {
	margin-top: .3em;
	margin-bottom: 0;
	margin-left: -0.3em;
	padding: 0;
}

body {
	background: #12151f;
}

